:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  background: var(--dark-cyan);
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-images img {
  position: absolute;
  z-index: 1;
}

.background-images .top-img {
  top: -75%;
  left: -25%;
}

.background-images .bottom-img {
  left: 50%;
}

.main-section {
  box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 15px;
}

.main-section .profile-card {
  background: #fff;
  border-radius: 15px;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  align-items: center;
}

.main-section .profile-card .pattern-card {
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  grid-area: 1/1/2/4;
}

.main-section .profile-card .profile-photo {
  border-radius: 50%;
  border: 5px solid #fff;
  position: relative;
  transform: translateY(-50%);
  grid-area: 2/1/2/4;
}

.profile-name {
  display: grid;
  justify-items: center;
  margin: -40px 0 20px 0;
  grid-area: 3/1/3/4;
}

.profile-card .profile-name p {
  color: var(--dark-gray);
}

.profile-card .profile-name p span {
  color: var(--dark-desaturated-blue);
  font-weight: 700;
}

.profile-name small {
  color: var(--dark-grayish-blue);
}

.profile-status {
  grid-area: 4/1/4/4;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-items: center;
  padding: 5px 15px;
}

.profile-status .stats {
  display: grid;
  grid-template-rows: repeat(2, auto);
  text-align: center;
  padding: 5px 0 15px 0;
}

.profile-status .stats p {
  color: var(--dark-desaturated-blue);
  font-weight: 700;
}

.profile-status .stats small {
  font-size: 12px;
  margin-top: -15px;
  color: var(--dark-gray);
}
